* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #CED5E1;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

img {
    width: 300px;
    object-fit: cover;
}

section {
    padding: 0;
    background-color: aqua;
    margin: 20em auto;
    display: grid;
    max-width: 940px;
    grid-template-areas: 
    "first second third"
    "first fifth  third"
    "fourth fifth third";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 20% 1fr;
    gap: 2rem;
    height: 569px;
    
}

.first-div {
    grid-area: first;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 405px;
}

h1, p {
    margin-left: 2.9rem;
}


.first-div > h1 {
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

.first-div > p {
    font-size: 16px;
    margin-top: 1.3rem;
    margin-right: 0;
}


.second-div {
    grid-area: second;
    background-color: #33A559;
    height: 266px;
    color: #fff;

}

.second-div > h1 {
    font-size: 2.6rem;
}

.third-div {
    grid-area: third;
}

.fourth-div {
    grid-area: fourth;
    height: 100%;
}

.fifth-div {
    grid-area: fifth;
    background: #AFDDBE;
    height: 278px;
}

.mountin {
    height: 266px;
}

.skay {
    height: 100%;
}