* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #CED5E1;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

img {
    width: 300px;
}

section {
    margin: 20em auto;
    display: grid;
    width: 1000px;
    grid-template-areas: 
        "first second third"
        "fourth fifth third";
}

.first-div {
    grid-area: first;
}

.second-div {
    grid-area: second;
}